@charset "utf-8";


.header.open>.nav>.inner>.button.open{
    display: none;
}

.header.open>.nav>.inner>.button.close{
    display: flex;
}

.header.open>.nav>.inner>.wrapper{
    flex: 1 1 100%;
    display: flex;
}

.content, .content .wrapper, .content .block{
    transition: all 1s ease 0s;
    opacity: 0;
    transform: translateY(16pt);
}

.content.active, .content .wrapper.active, .content .block.active{
    opacity: 1;
    transform: translateY(0);
}