@charset "utf-8";


.content, .content .wrapper, .content .block{
    transition: all 1s ease 0s;
    opacity: 0;
    transform: translateY(16pt);
}

.content.active, .content .wrapper.active, .content .block.active{
    opacity: 1;
    transform: translateY(0);
}